name = "gleam-package-mcp"
main = "src/index.mjs"
compatibility_date = "2024-01-01"
compatibility_flags = ["nodejs_compat"]

[build]
command = "gleam build"

# Uncomment to add a custom domain
# [routes]
# pattern = "your-domain.com/*"
# zone_name = "your-domain.com"
[observability]
[observability.logs]
enabled = true
head_sampling_rate = 1
invocation_logs = true
persist = true

[observability.traces]
enabled = false
persist = true
head_sampling_rate = 1
